* {
  color: #353551;
  font-family: sans-serif;
}

#leaderBoard {
  position: absolute;
  left: 5%;
  display: block;
}

#headerCanvasScorecount {
  float: auto;
}

#gameIntro {
  width: 400px;
  height: 190px;
  margin: 10px auto;
  border: 1px solid #353551;
  text-align: center;
}

button {
  border: 1px solid #353551;
  padding: 5px;
  margin: 10px 5px 0px 5px;
  font-size: 14px;
}

button #startBtn {
  margin: auto;
}

#getRobot img {
  width: 33px;
  height: 33px;
  padding: 5px 5px 3px 5px;
}

#getRocket img {
  width: 30px;
  height: 30px;
  padding: 5px;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  border: 1px solid #353551;
}

#currentUserScore {
  text-align: center;
}

table, th, tr, td {
  border: 1px solid #353551;
}

thead {
  font-weight: bold;
}

.rank {
  text-align: center;
  font-weight: bold;
  width: 15px;
  border-width: 2px;
}

.highScore, .user {
  width: 90px;  
  font-weight: 500;
  text-align: left;
}

label {
  font-size: 14px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #353551;
}

input:focus + .slider {
  box-shadow: 0 0 1px #353551;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 15px;
}

.slider.round:before {
  border-radius: 50%;
}