* {
  color: #353551;
  font-family: sans-serif;
}

#gameIntro {
  width: 300px;
  height: 200px;
  margin: 0 auto;
  border: 1px solid #353551;
  text-align: center;
}

button {
  border: 1px solid #353551;
  padding: 5px;
  margin: 0 10px;
  font-size: 14px;
}
#getRobot img {
  width: 33px;
  height: 33px;
  padding: 5px 5px 3px 5px;
}

#getRocket img {
  width: 30px;
  height: 30px;
  padding: 5px;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  border: 1px solid #353551;
}
