* {
  color: #353551;
  font-family: sans-serif;
}

#gameIntro {
  width: 400px;
  height: 190px;
  margin: 10px auto;
  border: 1px solid #353551;
  text-align: center;
}

button {
  border: 1px solid #353551;
  padding: 5px;
  margin: 10px 5px 0px 5px;
  font-size: 14px;
}

button #startBtn {
  margin: auto;
}

#getRobot img {
  width: 33px;
  height: 33px;
  padding: 5px 5px 3px 5px;
}

#getRocket img {
  width: 30px;
  height: 30px;
  padding: 5px;
}

canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  border: 1px solid #353551;
}

#currentUserScore {
  text-align: center;
}

table, tr, td {
  border: 1px solid #353551;
}

.rank {
  text-align: center;
  font-weight: bold;
  width: 15px;
  border-width: 2px;
}

.highScore, .user {
  width: 90px;  
  font-weight: 500;
  text-align: left;
}
